<h1>Agregar Registro Civil</h1>

<section>
    <div id="inputAdd">
        <form class="formBuscador">
            <label for="addRegistro">Registro:</label>
            <input type="text" id="addRegistro" name="registro" placeholder="Escribe aquí">
            <label for="addEmail">Email:</label>
            <input type="text" id="addEmail" name="registro" placeholder="Escribe aquí">
            <button type="button" onclick="buscarRegistro()">Buscar</button>
        </form>
    </div>
</section>