<h1>Buscador de Registros Civiles</h1>

<section>
    <div id="inputBusqueda">
        <form>
            <label for="registroInput">Ingrese registro a buscar:</label>
            <input type="text" id="registroInput" name="registro" placeholder="Escribe aquí">
            <button type="button" onclick="buscarRegistro()">Buscar</button>
        </form>
    </div>
    <div id="resultados">

    </div>
</section>

<script src="../static/mainHandlebars.js"></script>